.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
.Python
env/
venv/
ENV/
VENV/
.env.*
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
dist/
build/
site/
node_modules/
coverage/
htmlcov/
/.DS_Store
/.coverage
/.eggs/
/.tox/
/.pdm.toml
/.pdm.lock
/.ruff_cache/
__pycache__/